<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Técnico a Dispositivo</title>
</head>

<body>
    <h1>Asignar Técnico a Dispositivo</h1>
    <form action="/asignar-tecnico" method="POST">
        <label for="dispositivo">Dispositivo:</label>
        <select name="dispositivo_id" id="dispositivo">
            <% dispositivos.forEach(dispositivo=> { %>
                <option value="<%= dispositivo.id_dispositivo %>">
                    <%= dispositivo.imei %> - <%= dispositivo.vehiculo %>
                </option>
                <% }) %>
        </select>
        <br>
        <label for="tecnico">Técnico:</label>
        <select name="tecnico_id" id="tecnico">
            <% tecnicos.forEach(tecnico=> { %>
                <option value="<%= tecnico.id %>">
                    <%= tecnico.nombre %>
                </option>
                <% }) %>
        </select>
        <br>
        <button type="submit">Asignar</button>
    </form>
</body>

</html>