<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS || CONNECTIONSEyT</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen bg-primary">
    <div class="navbar bg-base-100 fixed">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li><a href="/asignar-tecnico">Asignar Vehiculo a tecnico</a></li>
                    <li><a href="/asignacion">Asignar zona a Vehiculo</a></li>
                    <li><a href="/">Monitorear</a></li>
                </ul>
            </div>
            <a class="btn btn-ghost text-xl">ConnectionsEyT</a>
        </div>
        <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/asignar-tecnico">Asignar Vehiculo a tecnico</a></li>
                <li><a href="/asignacion">Asignar zona a Vehiculo</a></li>
                <li><a href="/">Monitorear</a></li>
            </ul>
        </div>
    </div>
    <main class="flex flex-row h-screen">
        <div id="container-form" class="w-100 bg-primary flex content-center items-center justify-center p-6">
            <div class="card bg-base-100 w-96 shadow-xl min-h-96">
                <div class="card-body">
                    <h2 class="card-title">Asignar zona a un vehiculo </h2>
                    <form action="/asignar-dispositivo" method="POST">
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Vehiculo:</span>
                            </div>
                            <select class="select select-bordered" name="dispositivo_id" id="dispositivo">
                                <% dispositivos.forEach(dispositivo=> { %>
                                    <option value="<%= dispositivo.id_dispositivo %>">
                                        <%= dispositivo.vehiculo %>
                                    </option>
                                    <% }) %>
                            </select>
                        </label>
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Zona:</span>
                            </div>
                            <select class="select select-bordered" name="zona_id" id="zona">
                                <% zonas.forEach(zona=> { %>
                                    <option value="<%= zona.id %>">
                                        <%= zona.nombre %>
                                    </option>
                                    <% }) %>
                            </select>
                        </label>
                        <div class="card-actions justify-end mt-2">
                            <button class="btn btn-primary" type="submit">Asignar</button>
                        </div>
                        <% if (error) { %>
                            <div role="alert" class="alert alert-error mt-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current"
                                    fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span>
                                    <%= error %>
                                </span>
                            </div>

                            <% } %>

                    </form>
                </div>
            </div>

        </div>

        <div id="container-tabla" class="w-full bg-primary flex content-center items-center justify-center p-6 h-full">
            <div class="card bg-base-100 w-full shadow-xl">
                <div class="card-body max-h-96">
                    <div class="overflow-x-auto">
                        <table class="table table-zebra">
                            <!-- head -->
                            <thead>
                                <tr>
                                    <th>Vehiculo</th>
                                    <th>Zona</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% asignaciones.forEach(asignacion=> { %>
                                    <tr>
                                        <td>
                                            <%= asignacion.vehiculo %>
                                        </td>
                                        <td>
                                            <%= asignacion.nombre_zona %>
                                        </td>
                                        <td>
                                            <form method="POST" action="/eliminar-asignacion">
                                                <input type="hidden" name="asignacion_id" value="<%= asignacion.id %>">
                                                <button type="submit" class="btn btn-error">Desasignar</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>



</body>

</html>